<div class="container">
<h1> Fibonacci sequence has been extracted: </h1>

    <div class="sub-container">
        <p> This is the result: </p>  
        <h2> <%= @fibonacci.sequence %> </h2>
    </div>

</div>
